/* app css stylesheet */
.container-fluid {
	background-color:#123456;
}
.fluid {
	margin-top:50px;
}


.fluid2 {
	background-color:#654321;
}





[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
