<!DOCTYPE html>
<html lang="" ng-app="eventsApp">

<head>
    <meta charset="UTF-8">
    <title>Event Registretion</title>
    <meta name="Author" content="" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body ng-cloak>
    <div class="container">

        <div class="navbar navbar-default">
            <div class="navbar-header">

            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="NewEvent.html">Create event</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">More</a></li>
                <li><a href="#">Options</a></li>
            </ul>
        </div>
        <div ng-controller="EditEventController" class="row">
            <div class="col-md-12">
                <h1>new event</h1>
                <hr/>
            </div>
            <form class="col-md-5" name="newform">
                <div class="form-group">
                    <label for="eventName">Event Name:</label>
                    <input id="eventName" ng-model="event.name" required class="form-control" type="text" placeholder="nameOfYourEvent...">
                </div>
                <div class="form-group">
                    <label for="eventDate">event Date:</label>
                    <input id="eventDate" required ng-pattern="/\d\d/\d\d/\d\d\d\d/"  class="form-control" type="text" placeholder="DateOfYourEvent">
                </div>
                <div class="form-group">
                    <label for="eventTime">Event Time:</label>
                    <input id="eventTime" class="form-control" type="text" placeholder="TimeOfYourEvent">
                </div>
                <div class="form-group">
                    <label for="eventLocation">eventLocation:</label>
                    <input id="eventLocation" class="form-control" type="eventLocation" placeholder="nameOfYourEvent">
                </div>
                <div class="form-group">
                    <label>{{event.name}}</label>

                </div>


                <button type="submit"ng-disabled="newform.$invalid" ng-click="saveEvent(event,newform)" class="btn btn-default">Submit</button>
                <button type="submit" class="btn btn-warning" ng-click="cancelEdit()">Reset</button>
        </div>


        </form>








    </div>




    </div>


    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/EventController.js"></script>
    <script src="js/controllers/EditEventController.js"></script>
    <script src="js/filters.js"></script>
</body>





</html>
